
body{
    background-image: url('../images/bg.png');
    height: 10910px;

}
/* common styles */
.container{
    width:1140px;
    margin:10 auto;
    padding-top: 42px;
    padding-left: 30px;
}
.primary-btn{
    background-color: #1222;
    display: inline-block;
    padding: 12px 22px;
    color:#ffff;
    border-radius: 4px;
    text-decoration: none;
}
.secondary-btn{
    color: #000;
    text-decoration: none;
}
.section-title{
   text-align: center;
   padding: 60px 5px;
}
.section-title h2{
    font-size: 36px;
    color:black;
    margin-bottom: 20px;

}
.section-title h2 span{
    color: #106eea;
}
.section-title h4 span{
background-color: rgba(80, 128, 128, 0.623);
border-radius:15px;
padding:4px 12px;
display: inline-block;
color: #106eea;
font-size: 13px;
font-weight: 600;

}
.section-title h4{
    padding-bottom:20px;

}
.section-title p{

}
/* Quick Links */ 
#quick-links{
   background-color: #b47474;
   height:131px;
}
#header{
    background-color: #355b;
    height:115px;
}
#banner{
    background-color: #5467;
    height: 390px;
    
}
#highlight{
    background-color: #b37474;
    height: 434px;
    
}
#highlight .f-container{
    height: 200px;
    display: flex;
    justify-content: space-around;
}
#highlight .f-item{
    background-color: white;
    flex-basis: 20%;
    padding:63px;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: black 0px 0px 15px ;
    border-radius:8px;
}
#about{
    background-color: #f6f9fe;
    height: 1043px;

}
#skills{
    background-color: #b37474;
    height: 346px;

}
#statistics{
    background-color: lightgreen;
     height: 283px;

}
#statistics .f-container{
    display: flex;
    justify-content: space-around;
}
#statistics .f-item{
    background-color: lightskyblue;
    flex-basis: 20%;
    padding:43px;
    padding-left: 15px;
    padding-right:15px ;
    box-shadow: rgba(0, 0, 0, 0.527) 0px 0px 15px ;
    border-radius:8px;
}
#client{
    background-color: #f6f9fe;
     height: 165px;
}
#client .f-container{
    display: flex;
    justify-content: space-around;

}
#client .f-item{
    background-color: rgb(150, 139, 161);
    flex-basis: 20;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.411) 0px 0px 15px ;
    border-radius:8px;


}
#services{
    background-color: #f6f9fe;
    height: 1220px; 
}
#services .section-title{
    height: 219px;
}
#services .section-content .f-container{

}
#services .section-content .f-item{

}
#testimonials{
    background-color: lightsteelblue;
    height: 570px;
}
#portfolio{
    background: #f6f6fe;
    height:1760px;

}
#team{
    background-color: #f6f9fe;
    height: 860px;
}
#pricing{
    background-color: #f6f9fe;
    height: 890px;

}
#faq{
    background: mediumturquoise;
    height: 830px;
}
#contact{
    background-color: #f6f9fe;
    height: 1100px;

}
#newsletter{
    background: plum;
    height: 290px;


}
#footer{
    background: rgb(170, 62, 170);
    height: 430px; 
}
#legals{
    background-color: azure;
    height: 40px;
}
