
body{
    /*background-image: url('../images/bg.png');*/
    height: 10910px;

}
/* common styles */
.container{
    width:1140px;
    margin:10 auto;
    padding-top: 45px;
    padding-left: 120px;
}
.primary-btn{
    background-color:blue;
    display: inline-block;
    padding: 12px 22px;
    color:#ffff;
    border-radius: 4px;
    text-decoration: none;
}
.secondary-btn{
    color: #000;
    text-decoration: none;
}
.section-title{
   text-align: center;
   padding: 60px 5px;
}
.section-title h2{
    font-size: 36px;
    color:black;
    margin-bottom: 20px;

}
.section-title h2 span{
    color: #106eea;
}
.section-title h4 span{
background-color: rgba(80, 128, 128, 0.623);
border-radius:15px;
padding:4px 12px;
display: inline-block;
color: #106eea;
font-size: 13px;
font-weight: 600;

}
.section-title h4{
    padding-bottom:20px;

}
.section-title p{
  padding-bottom: 20px;
  
}
.progress{
    line-height: 0;
    font-size:.75rem;
}
/* Quick Links */ 
#quick-links{
   background-color: #b47474;
   height:131px;
}
#quick-links .f-container{
   display: flex;
   justify-content: space-between;
}
#quick-links .f-container .f-item{

}
#header{
    background-color: #355b;
    height:115px;
}
#header .f-container{
    display: flex;
    justify-content: space-between;
}
#header .f-container .f-item{

}
#banner{
    background:url('../images/hero-bg.jpg');
    height: 390px;
    background-size: cover;
    position: relative;
}
#banner .white-overlay{
    position:absolute;
    background:rgb(255,255,255,0.6);
    bottom:0;
    top:0;
    left:0;
    left:0;
    right:0;
}

#banner .f-container{
    display: flex;
    position: relative;
    z-index: 2;
}
#banner h1{
    padding-top: 100px;
    font-size: 50px;
    font-family: 'poppi ns', sans-serif;
    padding-bottom: 3%;

}
#banner h1 span{
    color: #106eea;
}
#banner p{
    font-size:25px; 
    padding-bottom: 3%;
}
#banner .cta-wrapper{}
#banner .cta-wrapper a{}
#banner .cta-wrapper a.primary-btn{
    margin-right: 10px;
}
#banner .cta-wrapper a.secondary-btn{

}
#highlight{
    background-color: #f6f6fe;
    height: 434px;
    
}
#highlight .f-container{
    height: 300px;
    display: flex;
    justify-content: space-around;
}
#highlight .f-item{
    width: 330px;
    height: 246px;
    background-color: white;
    flex-basis: 20%;
    padding:60px;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: black 0px 0px 15px ;
    border-radius:8px;
}
#highlight .icon{
    margin-bottom: 10px;
}
#highlight .bx{
        font-family: 'boxicons'!important;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        display: inline-block;
        text-transform: none;
        speak: none;
        -webkit-font-smoothing: antialiased;
}
#highlight .f-item .icon{
    padding: 40px; 
}
#highlight .f-item .icon i{
    color:#3b8af2;
    font-size:28px;
    transition: ease-in-out 0.3s;
}
#about{
    background-color: #f6f9fe;
    height: 1043px;

}
#skills{
    background-color: #f6f6fe;
    height: 346px;

}
#skills .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#skills .f-item{
    width: 415px;
}
#skills .progress{
    height: 50px;
    display: block;
}
#skills .progress .skill{
    padding: 10px 0;
    margin:0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 500;
    font-family: "poppins",sans-serif;
    color: #222222;
}
#skills .progress-bar-wrap{
    background: #e2eefd;
}
#skills .progress-bar{
    height: 10px;
    transition: .9s;
    background-color: #106eea;
}
#skills .progress .skill .val{
    float: right;
    font-style: normal;
}
#statistics{
    background-color: #f6f6fe;
     height: 283px;

}
#statistics .f-container{
    display: flex;
    justify-content: space-around;
}
#statistics .f-item{
    background-color: lightskyblue;
    flex-basis: 20%;
    padding:43px;
    padding-left: 15px;
    padding-right:15px ;
    box-shadow: rgba(0, 0, 0, 0.527) 0px 0px 15px ;
    border-radius:8px;
}
#client{
    background-color: #f6f9fe;
     height: 165px;
}
#client .f-container{
    display: flex;
    justify-content: space-around;


}
#client .f-item img{
    max-width: 80%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
}
#client .f-item{
    align-items: center;
    justify-content: center;
    height: 98px;


}
#services{
    background-color: #f6f9fe;
    height: 1220px; 
}
#services .section-title{
    height: 100px;
}
#services .section-content .f-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
#services .section-content .f-item{
    width: 330px;
    height: 337px;
    background-color: white;
    flex-basis: 25%;
    padding:45px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: black 0px 0px 15px ;
    border-radius:8px;
    margin-bottom: 60px;
    text-align: center;
}
#services .section-content .icon{
    margin-bottom: 15px;
    width: 64px;
    height: 64px;
}
#services .section-content .bx{
        font-family: 'boxicons'!important;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        display: inline-block;
        text-transform: none;
        speak: none;
        -webkit-font-smoothing: antialiased;
}
#services .section-content .f-item .icon{
    padding: 100px;
    padding-bottom: 10px; 
}
#services .section-content .f-item .icon i{
    color:#3b8af2;
    font-size:28px;
    transition: ease-in-out 0.3s;
}
#testimonials{
    background:url('../images/testimonials-bg.jpg');
    height: 570px;
    background-size: cover;
}
#portfolio{
    background: #f6f6fe;
    height:1760px;

}
#team{
    background-color: #f6f9fe;
    height: 860px;
}
#pricing{
    background-color: #f6f9fe;
    height: 890px;

}
#faq{
    background: #f6f6fe;
    height: 830px;
}
#contact{
    background-color: #f6f9fe;
    height: 1100px;

}
#contact .section-title{
    height: 125px;
}
#contact .section-content{

}
#contact .f-container{
    display: flex;
    flex-wrap: wrap;
}
#contact .f-item{
    flex-basis: center;
}
#contact .f-item.size-a{
    flex-basis: 50%;
}
#contact .f-item.size-z{
    flex-basis: 25%;
}
#contact .section-content .f-container{

}
#contact .section-content .f-item{

}
#newsletter{
    background:#f6f6fe;
    height: 310px;
}
#newsletter .section-title form{
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;

}
#newsletter .section-title form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(80% - 80px);
}
#newsletter .section-title form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #106eea;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer{
    background: rgb(170, 62, 170);
    height: 430px; 
}
#legals{
    background-color: azure;
    height: 40px;
}
